* {
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
}

td {
	text-align: center;
}



.main-text-label a{
	font-size: 24px;

	text-decoration: none !important;
}

.second-row{
	margin-top: 10px;
	height: 50px;
}

.btn-add-student a{
	color: white;
	text-decoration: none !important;
}

.btn-add-student a:hover{
	color: white;
};